*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
*.kotlin_module
**/build/generated/
crashlytics.properties
fabric.properties
google-services.json
.navigation/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/
*.iws
*.ipr
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
build/
.gradle/
*.swp
*.swo
*.orig
*.log
*.lock
